* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color:#2b2a2d;
    font-family: Roboto;
}

.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="button"] {
    background: #FF851B;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="button"]:hover {
    background: rgba(0, 117, 217, 0.7);
}

.contenedor-form .reset-password {
    background: rgba(0, 117, 217, .7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}



.lobby{
    display: none;
}

#n_game{
    background: #242624;
    color: #FFF;
    display: none;
    width: 275px;
    height: 275px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -137px;
    border: 1px solid #FF851B;
    text-align: center;

}
#n_game #crear{
    font-size: 25px;
}

#dif{
    margin-top: 50px;
}
#game{
    margin-top: 80px;
}
#range{
    width:100%;
    height:40px;
    text-align: center;
    border-top: 1px solid  #FF851B;
    border-bottom: 1px solid  #FF851B;
}
#e{

    height: 100%;
    width: 33.3%;
    position: relative;
    left:0%;
    border-right: 1px solid #FF851B;
}
#m{
    position: relative;
    left:33.3%;
    top: -38px;
    height: 100%;
    width: 33.3%;
    border-right: 1px solid #FF851B;
}
#h{
    
    position: relative;
    left: 66.6%;
    top: -76px;
    height: 100%;
    width: 33.4%;
}
#range div:focus{
    background: #151615;
}
#range div:hover{
    background: #151615;
}

#e p{
    position: absolute;
    top: 6px;
    left: 25px;
}
#h p{
    position: absolute;
    top:10px;
    left: 25px;
}
#m p{
    position: absolute;
    top: 8px;
    left: 25px;
}

#gameL{
    width: 800px;
    height: 500px;
    border: 1px solid #FF851B;
    position: absolute;
    left:50%;
    top:50%; 
    margin-left: -400px;
    margin-top:-200px; 
}

#gameL p{
    height: 40px;
    width: 800px;
    display: table-cell;
    vertical-align: middle;
    background:#151615;
    color: #FFF;
}

#gameL p:hover{
    background: #242624;
}

#toolbar{
    width: 100%;
    height: 75px;
    background:#151615;
    border-bottom: 2px solid #FF851B;
    color: #FFF;
}

#make{
    position: absolute;
    width:100px;
    top:50%;
    margin-top:-235px; 
    left:50%;
    margin-left: -50px;
}

.lobby button{
    width: 100px;
    height: 30px;
    background: #151615;
    color: #FFF;
    border-color: #FF851B;
}

#username{
    font-size: 20px;
    margin-top: 15px;
    position: absolute;
    left: 90%;
}
